aiodns
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
arrow
asgiref
asttokens
attrs
binaryornot
ccxt
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
cookiecutter
crispy-bootstrap5
crispy-tailwind
cryptography
debugpy
decorator
deprecation
distlib
dj-database-url
Django
django-appconf
django-browser-reload
django-compressor
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-multiselectfield
django-tailwind
djangorestframework
djangorestframework-simplejwt
dnspython
EasyProcess
email_validator
entrypoint2
executing
fastapi
fastapi-cli
filelock
frozenlist
gotrue
gunicorn
h11
h2
hpack
httpcore
httptools
httpx
hyperframe
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
MouseInfo
mss
multidict
nest-asyncio
numpy
packaging
pandas
parso
Pillow
pipenv
platformdirs
postgrest
prompt_toolkit
propcache
psutil
psycopg2-binary
pure_eval
PyAutoGUI
pycares
pycparser
pydantic
pydantic_core
PyGetWindow
Pygments
PyJWT
pymongo
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
python-dotenv
python-multipart
python-slugify
pytweening
pytz
pywin32
PyYAML
pyzmq
rcssmin
realtime
requests
rich
rich-toolkit
rjsmin
shellingham
six
sniffio
sqlparse
stack-data
starlette
storage3
StrEnum
supabase
supafunc
text-unidecode
tornado
traitlets
typer
types-python-dateutil
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
watchfiles
wcwidth
websockets
yarl